.bm-f-top {
	padding: 30px 0 45px;
	background: #eee;

	.bm-f-t-logo {
		margin: 0 0 20px;
		font-family: $font-logo;
		font-size: ceil(($font-size-base * 2)); // ~32px
		font-weight: 400;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.bm-f-t-list {
		margin-top: 55px;
	}
}

.bm-f-bottom {
	background: #111;

	p {
		margin: 0;
		font-size: ceil(($font-size-base * 0.75)); // ~12px
		line-height: 32px;
		color: #fff;

		a {
			color: #fff;
		}
	}
}