.bm-home-banner {
	padding: 0;
}

.bm-hb-main {
	margin-bottom: 15px;
	padding: 30px;
	min-height: 200px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 28%;
    background-position: 30px -40px;
    border-bottom: 5px solid lighten($brand-primary, 45%);

    h1, h2 {
    	margin-top: 0;
    }

    .bm-hb-m-list {
    	padding: 15px 0 30px;
    }
}

.bm-hb-e-box {
	margin: 15px 0;
	padding: 15px;
	background: lighten($brand-primary, 25%);
	color: #fff;

	h3 {
		margin-top: 0;
		color: #fff;
	}
}