.bm-product-type {
}

.bm-pt-box {
	margin-bottom: 15px;
	padding: 15px;
	background: #fff;
    border-bottom: 5px solid lighten($brand-primary, 45%);

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: ceil(($font-size-base * 2.25)); // ~36px
	}
}