.btn {
  padding: 8px 12px;
}

@mixin button-mopho($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  border: 0 none;

  &:focus,
  &.focus {
    color: $color;
    background-color: $brand-primary;
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: $brand-primary;
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $brand-primary;
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $brand-primary;
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn-secondary {
  @include button-mopho($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}