.bm-product-list {
	padding: 0;
}

.bm-pl-box {
	margin: 15px 0;
	padding: 15px;
	background: #fff;

	&.bm-pl-box-single {
		margin: 0;
		padding: 0 15px;
	}
}

.bm-product-selector .bm-pl-box.bm-pl-box-single {
	padding: 15px 5px 5px;
	border-bottom: 2px solid #eee;

	.bm-pl-b-title {
		font-size: ceil(($font-size-base * 1.25)); // ~20px
		height: 44px;
	}
}

.bm-pl-b-header {
	display: block;
	margin-bottom: 5px;
	padding: 5px 15px;
	background: $brand-dark;
	color: #fff;
	font-size: ceil(($font-size-base * 1.25)); // ~20px
}

.bm-pl-b-title {
	margin-top: 0;
	height: 52px;
}

.bm-pl-b-content {
    padding-bottom: 20px;
	.bm-pl-b-c-img {
		padding-left: 15px;
		width: 41.66667%;
		float: left;
	}

	.bm-pl-b-c-price {
		font-size: ceil(($font-size-base * 3)); // ~48px
		font-weight: 700;
		line-height: 1;
	}

	.bm-pl-b-c-per {
		display: block;
		color: $brand-primary;
		font-size: ceil(($font-size-base * 0.75)); // ~12px
		line-height: 1;
	}

	ul {
		font-size: ceil(($font-size-base * 0.75)); // ~12px

		li {
			position: relative;
			padding-left: 12px;
		}

		li:before {
			position: absolute;
			left: 2px;
			top: 0;
			display: block;
			font-family: fontAwesome;
			content: '\f0da';
		}
	}
}

.bm-pl-b-supplier {
	margin: 5px auto;
	background-image: url('https://s3-eu-west-1.amazonaws.com/tcstatic.convertholdings.co.uk/assets/store/sprites/suppliers-logo-sprite.png');
	background-repeat: no-repeat;
}

.bm-pl-b-supplier-mobiles {
	width: 100px;
	height: 50px;
	background-position: 0 -500px;
}